logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/
coverage
dist
dist-ssr
docs/api
stats.html
*.local

.*
!.gitignore
!.gitattributes
!.github/
!.vscode/extensions.json
!.vscode/settings.json

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Test-environment
